.header {
  background-color: #15151a;
  padding: 15px 20px 15px 50px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: auto;
}
