.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    border-radius: 32px;
    background: #15151A;
    padding: 20px;
}
.imageBlock {
    border-radius: 18px 18px 0 0;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}
.image {
    background-color: #e2e2ea;
    margin-right: 10px;
    border-radius: 16px;
    width: 97px;
    height: 121px;
}

.imageMain {
    width: 100%;
    background-color: #e2e2ea;
    margin-bottom: 10px;
    border-radius: 16px;
    height: 293px;
}
.mainInfo{
    width: 449px;
    height: 429px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: #242428;
    padding: 30px;
    gap: 15px;
}
.info {
    width: 47%;
    border-radius: 16px;
    background: #242428;
    padding: 30px;
    max-height: 273px;
    overflow-y: scroll;
}
.name{
    font-weight: 700;
    font-size: 32px;
    line-height: 75%;
    text-transform: capitalize;
    color:#FFFFFF;
    padding-bottom: 24px;
}
.mainInfoBlock{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}
.productCode{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    width: 100%;
    padding-bottom: 20px;
}
.organizator{
    display: flex;
}
.organizatorName{
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #70B838;
    text-transform: capitalize;
    padding-left: 20px;
}
.send {
    border-radius: 16px;
    width: 100%;
    height: 44px;
    background: #70B838;
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: #ffffff;
}

.send:hover {
    background-color: #8BE346;
    color: #fafafa;
}
.copy {
    border-radius: 16px;
    width: 100%;
    height: 30px;
    background: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #000;
}
.copy:hover {
    background: #aca8a9;
}
.subTitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color:#FFFFFF;
}
.aboutText{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    font-variant: small-caps;
    text-align: justify;
}
.location{
    display: flex;
    padding: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
}
.locationBlock{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
}
.locationName{
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #70B838;
}
.locationSum{
    padding-left: 20%;
}